extends layout

block vars
    - let title = '火星人科技'
block content
    .clearfix
    .area.mt10
        .area-left-ej
            include lib/list
            .home-right-box
                h2 当季产品推荐
                ul.home-right-list
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg', style='width: 230px; height: 129px;')
                        ul 银环【文化之旅】台湾特色环岛8天【台...
                    li
                        a(href='/details') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                        span.uz-g-price-item.uz-g-20167099126-price ￥6900
                    li
                        a(href='/details') 瑞士8晚10天冬季赏雪温泉私家团
                        span.uz-g-price-item.uz-g-20161786079-price ￥28900
            .home-right-box
                h2 猜你喜欢
                ul.home-right-list
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-12/680x.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 斯里兰卡出海观鲸深度游（无自费送新年豪华大餐）
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20168824114-price 8399
                            | 起
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-04/als.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 铜环【特享去台湾】常规经典环岛8天【101登顶 一晚五花一晚温泉】长荣直飞
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20161213091-price 3080
                            | 起
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山 3晚五花
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20168168220-price 3680
                            | 起
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-12/680x.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 斯里兰卡出海观鲸深度游（无自费送新年豪华大餐）
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20168382421-price 8399
                            | 起
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-12/680x.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 斯里兰卡全景深度游
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20164400555-price 8399
                            | 起
                    div
                        a(href='/details')
                            img(src='/public/images/files/2016-11/rs.jpg', style='width: 230px; height: 129px;')
                        dl.nof
                            a(href='/details' ) 1124CA 德法意瑞4国13天(法兰克福-巴黎)
                            br
                            | ￥ 
                            span.uz-g-price-item.uz-g-20167130646-price 8100
                            | 起
        .area-right-ej
            .ej-hot-product
                dl
                    dd
                        a(href='/details')
                            img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg',)
                        span
                            img(src='/public/images/tejia.png',)
                    dt
                        a(href='/details') 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山 3晚五花一晚温
                        br
                        | ¥ 
                        span.price.uz-g-price-item.uz-g-20168168220-price 3680
                        | 起
                dl
                    dd
                        a(href='/details')
                            img(src='/public/images/files/2016-06/lcgc1.png',)
                        span
                            img(src='/public/images/tejia.png',)
                    dt
                        a(href='/details') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                        br
                        | ¥ 
                        span.price.uz-g-price-item.uz-g-20167099126-price 6900
                        | 起
                dl
                    dd
                        a(href='/details')
                            img(src='/public/images/files/2016-06/rjy.jpg',)
                        span
                            img(src='/public/images/tejia.png',)
                    dt
                        a(href='/details') 德法意瑞+荷兰农场4国11天
                        br
                        | ¥ 
                        span.price.uz-g-price-item.uz-g-20169217934-price 10000
                        | 起
            .ej-box
                .shaixuan
                    form
                        .shaixuan_box
                            h2 行程天数：
                            ul.s
                                a.selected(href='javascript:;', search_key='days', search_value='-1') 不限
                                a(href='javascript:;', search_key='days', search_value='5') 5天
                                a(href='javascript:;', search_key='days', search_value='8') 8天
                                a(href='javascript:;', search_key='days', search_value='9') 9天
                                a(href='javascript:;', search_key='days', search_value='10') 10天
                                a(href='javascript:;', search_key='days', search_value='11') 11天
                                a(href='javascript:;', search_key='days', search_value='12') 12天
                                a(href='javascript:;', search_key='days', search_value='13') 13天
                        .shaixuan_box
                            h2 筛选：
                            ul.s
                                li
                                    label
                                        input(type='checkbox', name='is_recommend', value='1')
                                        |  推荐
                                li
                                    label
                                        input(type='checkbox', name='is_hot', value='1')
                                        |  热销
                                li
                                    label
                                        input(type='checkbox', name='is_marked', value='1')
                                        |  特惠
                .ej-product-list
                    #group_listview.list-view
                        .b_fore.clearfix
                            .ej-box-tit
                                ul
                                    li
                                        a(href='#',) 时间
                                    li
                                        a(href='#',) 价格
                            .summary 第 1-15 条, 共 73 条.
                            div(style='clear: both;')
                            .ej-box-tit-line
                        .items
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-12/680x.jpg',)
                                dt
                                    h2
                                        a(href='/details' )
                                            | 斯里兰卡出海观鲸深度游（无自费送新年豪华大餐）
                                    p
                                        | 线路编号：
                                        span 20168824114
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 12/26 ...
                                    p
                                        | 【国际交通】 斯里兰卡航空，快捷方便。
                                        | 【签证手续】斯里兰卡电子签证。
                                        | 【科伦坡】斯里兰卡最大城市，全国政治、经济、文化和交通中心。印度洋重要港口，世界著名的人工海港。
                                        | 【丹布勒石窟】1991年列入世界文化遗产，然历经岁月的更迭，却依然鲜明如昔。
                                        | 【狮子岩】世界第八大奇迹，...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20168824114-price 8399
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-12/680x.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 斯里兰卡出海观鲸深度游（无自费送新年豪华大餐）
                                    p
                                        | 线路编号：
                                        span 20168382421
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 12/26 ...
                                    p
                                        | 【国际交通】 斯里兰卡航空，快捷方便。
                                        | 【签证手续】斯里兰卡电子签证。
                                        | 【科伦坡】斯里兰卡最大城市，全国政治、经济、文化和交通中心。印度洋重要港口，世界著名的人工海港。
                                        | 【丹布勒石窟】1991年列入世界文化遗产，然历经岁月的更迭，却依然鲜明如昔。
                                        | 【狮子岩】世界第八大奇迹，...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20168382421-price 8399
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-12/680x.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 斯里兰卡全景深度游
                                    p
                                        | 线路编号：
                                        span 20164400555
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 12/26 ...
                                    p
                                        | 【国际交通】 斯里兰卡航空，快捷方便。
                                        | 【签证手续】斯里兰卡电子签证。
                                        | 【科伦坡】斯里兰卡最大城市，全国政治、经济、文化和交通中心。印度洋重要港口，世界著名的人工海港。
                                        | 【丹布勒石窟】1991年列入世界文化遗产，然历经岁月的更迭，却依然鲜明如昔。
                                        | 【狮子岩】世界第八大奇迹，...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20164400555-price 8399
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg',)
                                dt
                                    h2
                                        span.is_tag 推荐
                                        span.is_tag 特惠
                                        a(href='/details' )
                                            | 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄
                                    p
                                        | 线路编号：
                                        span 20168168220
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 01/07,01/09,01/12,01/14,01/16 ...
                                    p
                                        | 台湾大学创立于1928年，是台湾最早设立的大学，也是台湾最完整的综合型兼研究型大学，全校占地约达全岛陆地的百分之一，全台湾位列第一，全世界第124名的大学，校园内拥有美丽的自然风光。
                                        | 东海大学是台湾顶尖的研究型综合大学也是台湾第一所私立大学，素有“台湾最美大学”美誉...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20168168220-price 3680
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-04/als.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 铜环【特享去台湾】常规经典环岛8天【101登顶 一晚五花一晚
                                    p
                                        | 线路编号：
                                        span 20161213091
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 01/03,01/08,01/11 ...
                                    p
                                        | 航班：选择全球十大航空公司之一的长荣航空北京直飞台北桃园机场
                                        | ————————————
                                        | 行程特色概况：
                                        | NO1：赠送台北101登顶，500米高空俯瞰整个台北市。
                                        | NO2：世界四大博物馆之一台北故宫博物院馆藏60多万件珍品。
                                        | NO3：台湾八景之一日月潭风景区+感受...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20161213091-price 3080
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-11/rs.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 1124CA 德法意瑞4国13天(法兰克福-巴黎)
                                    p
                                        | 线路编号：
                                        span 20167130646
                                        | 行程：
                                        span 13天
                                        | 出团日期：
                                        span 11/24 ...
                                    p
                                        | ☂行程特色:
                                        | ☂全球十佳航空国航直飞公司，三年以上豪华旅游巴士，五菜一汤。
                                        | ☂塞纳河游船餐厅晚餐，从塞纳河上看巴黎，所得到的印象与任何时候都不同。任凭河水自由流淌，去看看所过之处的风景吧。
                                        | ☂花宫娜香水博物馆，这里是香水爱好者的“天堂”在那里可以买到法国...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20167130646-price 8100
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-06/lcgc1.png',)
                                dt
                                    h2
                                        span.is_tag 推荐
                                        span.is_tag 特惠
                                        a(href='/details' )
                                            | MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                                    p
                                        | 线路编号：
                                        span 20167099126
                                        | 行程：
                                        span 12天
                                        | 出团日期：
                                        span 12/18 ...
                                    p
                                        | 航    空：东方航空，直飞欧洲，免费托运两件行李!!!
                                        | 出发日期:12月18日
                                        | 托斯卡纳酒堡庄园：品希拉红酒，原生态意餐，享用堪比黄金的黑松露面食
                                        | 邮票之城：瓦杜兹（有机会盖邮戳哦）
                                        | 杜乐丽皇家花园：巴黎最古老的花园之一，有“露天博物馆”之称
                                        | 好事成双—只...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20167099126-price 6900
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-06/lcgc1.png',)
                                dt
                                    h2
                                        a(href='/details' )
                                            | MU 12月16日 德法意瑞4国11天（巴黎-布拉格）
                                    p
                                        | 线路编号：
                                        span 20162121119
                                        | 行程：
                                        span 11天
                                        | 出团日期：
                                        span 12/16 ...
                                    p
                                        | 航    空：东方航空，直飞欧洲，免费托运两件行李!!!
                                        | 出发日期:12月16日
                                        | 托斯卡纳酒堡庄园：品希拉红酒，原生态意餐，享用堪比黄金的黑松露面食
                                        | 邮票之城：瓦杜兹（有机会盖邮戳哦）
                                        | 杜乐丽皇家花园：巴黎最古老的花园之一，有“露天博物馆”之称
                                        | 好事成双—只...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20162121119-price 6800
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-10/DSC_0517.JPG',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 兰卡直飞全景6N8
                                    p
                                        | 线路编号：
                                        span 20163326893
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 11/11 ...
                                    p
                                        | 【国际交通】 斯里兰卡航空，快捷方便。
                                        | 【签证手续】斯里兰卡电子签证。
                                        | 【科伦坡】斯里兰卡最大城市，全国政治、经济、文化和交通中心。印度洋重要港口，世界著名的人工海港。
                                        | 【丹布勒石窟】1991年列入世界文化遗产，然历经岁月的更迭，却依然鲜明如昔。
                                        | 【狮子岩】世界第八大奇迹，斯...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20163326893-price 7499
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-05/erzhan.jpg',)
                                dt
                                    h2
                                        a(href='/details' )
                                            | 海参崴-【多彩假期 绚丽海滨】双飞五日 海参崴、列宁广场、
                                    p
                                        | 线路编号：
                                        span 20166973005
                                        | 行程：
                                        span 5天
                                        | 出团日期：
                                        span 12/14,12/21,12/28 ...
                                    p
                                        | 1、便捷之旅：北京直飞俄罗斯海参崴，全程领队陪伴，一站抵达
                                        | 2、轻松出境：只需护照，提前5天报名，说走就走
                                        | 3、特色体验：赠送：500元乘船游览金角湾！500元帝王蟹海鲜大餐！！
                                        | 4、视觉享受：感受在海面上漂浮着五彩的轮船和帆船，海水清澈见底
                                        | 5、特色住宿：全程双人...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20166973005-price 5080
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-03/jpg (448).jpeg',)
                                dt
                                    h2
                                        a(href='/details' )
                                            | 海参崴-【多彩假期 冬捕狩猎】双飞五日 海参崴、俄罗斯岛冬
                                    p
                                        | 线路编号：
                                        span 20161110672
                                        | 行程：
                                        span 5天
                                        | 出团日期：
                                        span 12/14,12/21,12/28 ...
                                    p 一个独特的机会亲身体验冬季冰上钓鱼，您会亲眼所见数以百计的冰钓爱好者，站在冰上钓鱼，有经验丰富的渔夫教大家冬捕的技巧。
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20161110672-price 6980
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-10/mp52011414_1451876447890_2.png',)
                                dt
                                    h2
                                        a(href='/details' )
                                            | 冰洞探险极光寻猎冰岛摄影之旅
                                    p
                                        | 线路编号：
                                        span 20167291365
                                        | 行程：
                                        span 12天
                                        | 出团日期：
                                        span 01/01,01/08,01/15,01/22,01/29 ...
                                    p
                                        | 深入各大自然景观，摄影爱好者充分的时间创作
                                        | 全天自由活动，自己支配自己的时间
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20167291365-price 38500
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-10/13720218_113158240107_2.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 北欧星空下 阿比斯库极光破冰之旅
                                    p
                                        | 线路编号：
                                        span 20168567045
                                        | 行程：
                                        span 9天
                                        | 出团日期：
                                        span 12/09,12/16,12/30 ...
                                    p
                                        | 前往世界闻名的圣诞老人村。这是世界唯一官方承认的圣诞老人村
                                        | 体验传统芬兰浴
                                        | 体验海上破冰之旅，品尝三文鱼汤和驯鹿汤
                                        | 让孩子们畅游于冰雪城堡
                                        | 前往世界第一个冰雪酒店参观
                                        | 参观极光观测站
                                        | 一天自由活动
                                        | 免费赠送您一顿北欧特色餐并升级五星酒店
                                        | 可以自费欣赏一场高水准的音乐演奏会
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20168567045-price 32846
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/906017198859348483.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 9月份朝外大街 泰新马结账
                                    p
                                        | 线路编号：
                                        span 20168663125
                                        | 行程：
                                        span 10天
                                        | 出团日期：
                                        span 09/08,09/29,10/31 ...
                                    p
                                        | ❤出发城市：北京起止
                                        | ❤航空公司：国泰航空CX
                                        | ❤行程特色：泰国全程豪华五星级酒店！！
                                        | ❤特别赠送：东芭乐园 欧式风情街 丛林骑大象 泰国三大奇观
                                        | ❤经典二船：【东方公主号】【昭帕耶公主号】
                                        | ❤日游沙美：【沙美岛】展开我们的精彩的沙美岛风情游，抵达后，自费享受岛上的水上活动。
                                        | ...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20168663125-price 28754
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                            dl
                                dd
                                    a(href='/details')
                                        span.tag 出境跟团游
                                        img(src='/public/images/files/2016-10/9fe65a6fgd4f618d1a7e7&690.jpg',)
                                dt
                                    h2
                                        span.is_tag 热销
                                        a(href='/details' )
                                            | 爱上台湾蓝蓝的天际线-情迷绿岛小夜曲【台湾深度纯玩八日】
                                    p
                                        | 线路编号：
                                        span 20162984501
                                        | 行程：
                                        span 8天
                                        | 出团日期：
                                        span 11/19 ...
                                    p
                                        | ★眷村博物馆——眷村改建，珍贵文物也随之消失，博物馆保留老眷村原貌能体验特殊眷村文化。
                                        | ★马家庄——每年春节，马英九先生祭祖到访之地，为台湾马氏家族聚落。
                                        | ★向山游客中心——骑乘自行车悠游于全球10大最美的自行车道。
                                        | ★砂卡当步道——拥有「全台湾最美...
                                    span.price
                                        | ¥ 
                                        b.uz-g-price-item.uz-g-20162984501-price 7480
                                        | 起
                                    span.btn
                                        a(href='/details') 查看详情
                        .ej-box-tit-line2
                        .pagination.pagination-centered
                            ul#yw0.yiiPager
                                li.first.hidden
                                    a(href='javascript:;',) <<
                                li.previous.hidden
                                    a(href='javascript:;',) <
                                li.page.selected
                                    a(href='javascript:;',) 1
                                li.page
                                    a(href='javascript:;',) 2
                                li.page
                                    a(href='javascript:;',) 3
                                li.page
                                    a(href='javascript:;',) 4
                                li.page
                                    a(href='javascript:;',) 5
                                li.next
                                    a(href='javascript:;',) >
                                li.last
                                    a(href='javascript:;',) >>

    .clearfix

block script
    script.



