extends layout

block vars
    - let title = '火星人科技'
block content
    .area
        .www51buycom
            ul.buypic
                li
                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                        img(src='/public/images/20161118180625_98945.jpg')
                li
                    a(href='index.php-cid=445&id=217.htm')
                        img(src='/public/images/20161208104713_77277.jpg')
                li
                    a(href='index.php-r=agentc-post-view&gid=20167185395&chanid=10014.htm')
                        img(src='/public/images/20161110171445_34725.jpg')
                li
                    a(href="javascript:;")
                        img(src='/public/images/20161021180853_48015.jpg')
                li
                    a(href='index.php-cid=445&id=224.htm')
                        img(src='/public/images/20161118180646_13922.png')
            a.prev(href='javascript:void(0)')
            a.next(href='javascript:void(0)')
            .num
                ul
        .slide-right
            .btn-box
                a.l(href='index.php-r=agentc-site-clogin.htm') 会员登录
                a.r(href='index.php-r=agentc-site-register.htm') 免费注册
            ul.icon-list
                a
                    span.img01
                    span.txt 产品质优
                a
                    span.img02
                    span.txt 信息透明
                a
                    span.img05
                    span.txt 先行赔付
                a
                    span.img06
                    span.txt 国旅品质
            div(style='padding: 5px 10px; margin-top: 5px; border-top: 1px solid #eee;')
                form.uz-tag-form
                    input(type='hidden', name='autoSubmit', value='1')
                    .uz-form-title 在线定制旅行
                    .uz-form-subtitle 为你定制不可能的旅行
                    .uz-form-item
                        input(type='text', name='keys', maxlength='8', placeholder='如:韩国')
                    .uz-form-item
                        input(type='text', name='keys', maxlength='8', placeholder='化妆品')
                    .uz-form-item
                        input(type='text', name='keys', maxlength='8', placeholder='韩剧拍摄地')
                    .uz-form-item
                        input(type='text', name='keys', maxlength='8', placeholder='玩5天')
                    .uz-form-item
                        input(type='text', name='keys', maxlength='8', placeholder='住5星级酒店')
                    .uz-form-item(style='text-align: center')
                        button.uz-form-btn(type='submit') 提交
    .clearfix
    .area.mt10
        .area-left
            .home_tab01
                ul.name
                    h2 当季热点
                    li 推荐产品
                    li 热销产品
                    li 最受关注
                    li 特惠产品
                    span
                ul.content
                    li
                        .home-product-list
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        | 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山
                                        | 3晚五花一晚温泉】长荣...
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20168168220-price(data-gid='20168168220') 3680
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm')
                                        img(src='/public/images/files/2016-06/lcgc1.png')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167099126-price(data-gid='20167099126') 6900
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167364620&chanid=10014.htm')
                                        img(src='/public/images/files/2016-05/dwy.jpeg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167364620&chanid=10014.htm') 广州【亲子游】2晚3天行程 广州长隆半自助
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167364620-price(data-gid='20167364620') 1900
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20161786079&chanid=10014.htm')
                                        img(src='/public/images/files/2016-09/zsj1.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161786079&chanid=10014.htm') 瑞士8晚10天冬季赏雪温泉私家团
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20161786079-price(data-gid='20161786079') 28900
                                    | 起
                    li
                        .home-product-list
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20168382421&chanid=10014.htm')
                                        img(src='/public/images/files/2016-12/680x.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168382421&chanid=10014.htm') 斯里兰卡出海观鲸深度游（无自费送新年豪华大餐）
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20168382421-price(data-gid='20168382421') 8399
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20164400555&chanid=10014.htm')
                                        img(src='/public/images/files/2016-12/680x.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20164400555&chanid=10014.htm') 斯里兰卡全景深度游
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20164400555-price(data-gid='20164400555') 8399
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20162649305&chanid=10014.htm')
                                        img(src='/public/images/files/2016-07/hc1.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20162649305&chanid=10014.htm') 华东【佛佑天下】双卧6日 黄山观日出（夜宿山顶）+莲花佛国九华山+屯溪老街+水墨宏村
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20162649305-price(data-gid='20162649305') 2799
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20162573333&chanid=10014.htm')
                                        img(src='/public/images/files/2016-07/hc2.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20162573333&chanid=10014.htm') 华东【梦幻徽州】双卧5日 黄山观日出(夜宿山顶)+西递+宏村+屯溪老街
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20162573333-price(data-gid='20162573333') 2299
                                    | 起
                    li
                        .home-product-list
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167130646&chanid=10014.htm')
                                        img(src='/public/images/files/2016-11/rs1.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167130646&chanid=10014.htm') 1124CA 德法意瑞4国13天(法兰克福-巴黎)
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167130646-price(data-gid='20167130646') 8100
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm')
                                        img(src='/public/images/files/2016-06/lcgc1.png')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167099126-price(data-gid='20167099126') 6900
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        | 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山
                                        | 3晚五花一晚温泉】长荣...
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20168168220-price(data-gid='20168168220') 3680
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20161786079&chanid=10014.htm')
                                        img(src='/public/images/files/2016-09/zsj1.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161786079&chanid=10014.htm') 瑞士8晚10天冬季赏雪温泉私家团
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20161786079-price(data-gid='20161786079') 28900
                                    | 起
                    li
                        .home-product-list
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                        | 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山
                                        | 3晚五花一晚温泉】长荣...
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20168168220-price(data-gid='20168168220') 3680
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm')
                                        img(src='/public/images/files/2016-06/lcgc1.png')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167099126-price(data-gid='20167099126') 6900
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20167364620&chanid=10014.htm')
                                        img(src='/public/images/files/2016-05/dwy.jpeg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167364620&chanid=10014.htm') 广州【亲子游】2晚3天行程 广州长隆半自助
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20167364620-price(data-gid='20167364620') 1900
                                    | 起
                            dl
                                dd
                                    a(href='index.php-r=agentc-post-view&gid=20162936865&chanid=10014.htm')
                                        img(src='/public/images/files/2016-09/other1.jpg')
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20162936865&chanid=10014.htm') 韩国精品自由行！五花首尔一地,嗨玩五日
                                    br
                                    | ¥ 
                                    span.price.uz-g-price-item.uz-g-20162936865-price(data-gid='20162936865') 3380
                                    | 起
            .home-product-box
                ul.name.co01(cid='459', typeid='535caecc00d7d')
                    h2 国内跟团游
                    span
                        a(href='index.php-r=agentc-post-index&cid=459.htm') 更多产品
                ul.content
                    .home-product-list
                        dl.ad
                            dd
                                a(href='index.php-r=agentc-post-index&cid=459.htm')
                                    img(src='/public/images/20151215092606_51600.jpg')
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20168180531&chanid=10014.htm')
                                    img(src='/public/images/files/2016-05/ljkz1.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20168180531&chanid=10014.htm') 云南-【乐享·慢生活】昆明大理丽江5晚6日三飞1卧悠闲游
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20168180531-price(data-gid='20168180531') 3880
                                | 起
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20167408909&chanid=10014.htm')
                                    img(src='/public/images/files/2016-07/hc3.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20167408909&chanid=10014.htm') 西安【西安印象-红色祈福】双卧七日 兵马俑、华清宫、乾陵、法门寺、延安、黄帝
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20167408909-price(data-gid='20167408909') 2200
                                | 起
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20167030059&chanid=10014.htm')
                                    img(src='/public/images/files/2016-05/dd1.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20167030059&chanid=10014.htm') 青海GB10【西域青海--天空之境】卧飞5日青海湖、茶卡盐湖、黑马河日出、中华枸杞养
                                br
                                | ¥
                                span.price.uz-g-price-item.uz-g-20167030059-price(data-gid='20167030059') 3900
                                | 起
                        .home-text-list
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20166137268&chanid=10014.htm') 青海GB9【西域青海--天空之境】双卧6日 青
                                span
                                    | ¥
                                    b.price.uz-g-price-item.uz-g-20166137268-price(data-gid='20166137268') 2220
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20167059401&chanid=10014.htm') PQ-1山东-【常规行程】青岛石老人海水浴场
                                span
                                    | ¥
                                    b.price.uz-g-price-item.uz-g-20167059401-price(data-gid='20167059401') 2349
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20165372599&chanid=10014.htm') 华东迪士尼【华东奇逸】双高5日 古镇南浔
                                span
                                    | ¥
                                    b.price.uz-g-price-item.uz-g-20165372599-price(data-gid='20165372599') 2910
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168314492&chanid=10014.htm') 青海+甘肃GB32【西域环线--丝路风情③】卧
                                span
                                    | ¥
                                    b.price.uz-g-price-item.uz-g-20168314492-price(data-gid='20168314492') 5550
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20163585908&chanid=10014.htm')
                                        | 新疆XJ10【西域风情—醉美喀纳斯
                                        | 绝色小瑞
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20163585908-price(data-gid='20163585908') 5420
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168305450&chanid=10014.htm') 河北【左右旅游-周末私家团】金沙湾沙雕
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20168305450-price(data-gid='20168305450') 780
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20164580274&chanid=10014.htm')
                                        | 新疆
                                        | XJ8【西域风情—神秘南北疆 喀纳斯+喀
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20164580274-price(data-gid='20164580274') 6750
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161183070&chanid=10014.htm') 新疆XJ10【西域风情—醉美喀纳斯 绝色小瑞
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20161183070-price(data-gid='20161183070') 5120
                                    | 起
            .home-product-box
                ul.name.co02(cid='460', typeid='53be3cd281221')
                    h2 出境跟团游
                    span
                        a(href='index.php-r=agentc-post-index&cid=460.htm') 更多产品
                ul.content
                    .home-product-list
                        dl.ad
                            dd
                                a(href='index.php-r=agentc-post-index&cid=460.htm')
                                    img(src='/public/images/20151215092634_11582.jpg')
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20167130646&chanid=10014.htm')
                                    img(src='/public/images/files/2016-11/rs1.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20167130646&chanid=10014.htm') 1124CA 德法意瑞4国13天(法兰克福-巴黎)
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20167130646-price(data-gid='20167130646') 8100
                                | 起
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm')
                                    img(src='/public/images/files/2016-06/lcgc1.png')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20167099126&chanid=10014.htm') MU 12月18日 德法意瑞4国12天（阿姆-法兰）
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20167099126-price(data-gid='20167099126') 6900
                                | 起
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm')
                                    img(src='/public/images/files/2016-11/Cghzf1UIW0uAZ-8SAAdB7eu5HOo804.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20168168220&chanid=10014.htm') 银环【文化之旅】台湾特色环岛8天【台湾大学+东海大学 高雄佛光山 3晚五花一晚温
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20168168220-price(data-gid='20168168220') 3680
                                | 起
                        .home-text-list
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161904302&chanid=10014.htm') 特价-铜环特享台湾常规经典环岛8天【101登
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20161904302-price(data-gid='20161904302') 3680
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161786079&chanid=10014.htm') 瑞士8晚10天冬季赏雪温泉私家团
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20161786079-price(data-gid='20161786079') 28900
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20169217934&chanid=10014.htm') 德法意瑞+荷兰农场4国11天
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20169217934-price(data-gid='20169217934') 10000
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20159210993&chanid=10014.htm') 首尔+济州：韩国乐享精华五日游(北京起止
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20159210993-price(data-gid='20159210993') 3880
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20168066153&chanid=10014.htm') 银环暑假升级-台湾特色环岛8天【清境农场
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20168066153-price(data-gid='20168066153') 4480
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20163992866&chanid=10014.htm' target='_blank') 以色列、约旦特色10日
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20163992866-price(data-gid='20163992866') 13990
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20164748362&chanid=10014.htm' ) 捷克、维也纳+德法瑞意6国13天
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20164748362-price(data-gid='20164748362') 11000
                                    | 起
                            dl
                                dt
                                    a(href='index.php-r=agentc-post-view&gid=20161626663&chanid=10014.htm' ) 雄霸三国林岛+德法意瑞4国+荷兰农场14天
                                span
                                    | ¥ 
                                    b.price.uz-g-price-item.uz-g-20161626663-price(data-gid='20161626663') 13000
                                    | 起
            .home-product-box
                ul.name.co03(cid='456', typeid='53be3f6a27238')
                    h2 海岛游
                    span
                        a(href='index.php-r=agentc-post-index&cid=456.htm' target='_blank') 更多产品
                ul.content
                    .home-product-list
                        dl.ad
                            dd
                                a(href='index.php-r=agentc-post-index&cid=456.htm' target='_blank')
                                    img(src='/public/images/20151215092657_91805.jpg')
                        dl
                            dd
                                a(href='index.php-r=agentc-post-view&gid=20167335662&chanid=10014.htm' )
                                    img(src='/public/images/files/2016-05/u=1096320015,2492050410&fm=21&gp=0.jpg')
                            dt
                                a(href='index.php-r=agentc-post-view&gid=20167335662&chanid=10014.htm' ) 魅力兰卡5晚7日游
                                br
                                | ¥ 
                                span.price.uz-g-price-item.uz-g-20167335662-price(data-gid='20167335662') 5950
                                | 起
            .home-product-box
                ul.name.co04(cid='457', typeid='53be3f71a504c')
                    h2 邮轮游
                    span
                        a(href='index.php-r=agentc-post-index&cid=457.htm' target='_blank') 更多产品
                ul.content
                    .home-product-list
                        dl.ad
                            dd
                                a(href='index.php-r=agentc-post-index&cid=457.htm' target='_blank')
                                    img(src='/public/images/20151215092706_27328.jpg')
        .area-right
            .home-right-box
                h2 热销线路
                ul.home-right-list
                    div
                        a(href='index.php-r=agentc-post-view&gid=20168382421&chanid=10014.htm' )
                            img(src='/public/images/files/2016-12/680x.jpg' style='width: 230px; height: 129px;')
                        ul 斯里兰卡出海观鲸深度游（无自费送新...
                    li
                        a(href='index.php-r=agentc-post-view&gid=20164400555&chanid=10014.htm' ) 斯里兰卡全景深度游
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20164400555-price(data-gid='20164400555', style='position: static;') 8399
                    li
                        a(href='index.php-r=agentc-post-view&gid=20162649305&chanid=10014.htm' ) 华东【佛佑天下】双卧6日 黄山观日出...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20162649305-price(data-gid='20162649305', style='position: static;') 2799
                    li
                        a(href='index.php-r=agentc-post-view&gid=20162573333&chanid=10014.htm' ) 华东【梦幻徽州】双卧5日 黄山观日出...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20162573333-price(data-gid='20162573333', style='position: static;') 2299
                    li
                        a(href='index.php-r=agentc-post-view&gid=20166586382&chanid=10014.htm' ) 华东【佛佑天下】双高5日 黄山观日出...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20166586382-price(data-gid='20166586382', style='position: static;') 3299
                    li
                        a(href='index.php-r=agentc-post-view&gid=20164776952&chanid=10014.htm' ) 华东【梦幻徽州】双高4日 黄山观日出...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20164776952-price(data-gid='20164776952', style='position: static;') 2999
                    li
                        a(href='index.php-r=agentc-post-view&gid=20162377224&chanid=10014.htm' ) 华东【一品黄山】双卧4日 黄山日出+夜...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20162377224-price(data-gid='20162377224', style='position: static;') 1999
                    li
                        a(href='index.php-r=agentc-post-view&gid=20165233866&chanid=10014.htm' ) 华东【水墨江南】双卧7日 华东五市+南...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20165233866-price(data-gid='20165233866', style='position: static;') 2299
                    li
                        a(href='index.php-r=agentc-post-view&gid=20165882930&chanid=10014.htm' ) 华东【情迷乌镇】双高3日 杭州一地乌...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20165882930-price(data-gid='20165882930', style='position: static;') 2599
                    li
                        a(href='index.php-r=agentc-post-view&gid=20169165119&chanid=10014.htm' ) 西安【西安印象-追忆延安】双卧七日 ...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20169165119-price(data-gid='20169165119', style='position: static;') 2320
                    li
                        a(href='index.php-r=agentc-post-view&gid=20168264585&chanid=10014.htm' ) 西安【西安印象-延安延安】双卧六日 ...
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20168264585-price(data-gid='20168264585', style='position: static;') 2020
            .home-right-box
                h2
                    | 海岛游
                    span
                        a(href='index.php-r=agentc-post-index&cid=456.htm' target='_blank') 更多>
                ul.home-right-list
                    div
                        a(href='index.php-r=agentc-post-view&gid=20167335662&chanid=10014.htm' )
                            img(src='/public/images/files/2016-05/u=1096320015,2492050410&fm=21&gp=0.jpg' style='width: 230px; height: 129px;')
                        ul 魅力兰卡5晚7日游
            .home-right-box
                h2
                    | 邮轮游
                    span
                        a(href='index.php-r=agentc-post-index&cid=457.htm' target='_blank') 更多>
                ul.home-right-list
            .home-right-box
                h2
                    | 周边游
                    span
                        a(href='index.php-r=agentc-post-index&cid=458.htm' target='_blank') 更多>
                ul.home-right-list
                    div
                        a(href='index.php-r=agentc-post-view&gid=20162206990&chanid=10014.htm' )
                            img(src='/public/images/files/2016-04/jx.png' style='width: 230px; height: 129px;')
                        ul 北京平谷【左右旅游-私家团】15分钟花...
                    li
                        a(href='index.php-r=agentc-post-view&gid=20166058245&chanid=10014.htm' ) 北京平谷【左右旅游-私家团】15分钟花样飞行、钛合金UFO-飞碟玻璃观景台双汽一日游（36人独立）
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20166058245-price(style='position: static;', data-gid='20166058245') 1020
                    li
                        a(href='index.php-r=agentc-post-view&gid=20169217751&chanid=10014.htm' ) 北京平谷【左右旅游-私家团】15分钟花样飞行、钛合金UFO-飞碟玻璃观景台双汽一日游（12人独立）
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20169217751-price(style='position: static;', data-gid='20169217751') 1110
                    li
                        a(href='index.php-r=agentc-post-view&gid=20166627888&chanid=10014.htm' ) 北京平谷【左右旅游-私家团】金海湖乘风破浪，15分钟花样飞行体验-玩转海陆空（48人独立）
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20166627888-price(style='position: static;', data-gid='20166627888') 1000
                    li
                        a(href='index.php-r=agentc-post-view&gid=20164850397&chanid=10014.htm' ) 北京平谷【左右旅游-私家团】金海湖乘风破浪，15分钟花样飞行体验-玩转海陆空（36人独立）
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20164850397-price(style='position: static;', data-gid='20164850397') 1060
                    li
                        a(href='index.php-r=agentc-post-view&gid=20164984282&chanid=10014.htm' ) 北京平谷【左右旅游-私家团】金海湖乘风破浪，15分钟花样飞行体验-玩转海陆空（12人独立）
                        span
                            | ￥
                            span.uz-g-price-item.uz-g-20164984282-price(style='position: static;', data-gid='20164984282') 1150

    ul#side-bar.side-pannel.side-bar
        a.gotop(href='javascript:;', style='display:none;')
            s.g-icon-top
        a.text(href="javascript:;" target='_blank')
            s.g-icon-qq1
            span 在线咨询
        a.text.weibo(href="javascript:;" target='_blank')
            s.g-icon-weibo1
            span 微博
        a.qr(href='javascript:;')
            s.g-icon-qr1
            i
    div(style='position: fixed; bottom: 300px; right: 65px;')
    .clearfix




block script
    script.
        $(document).ready(function () {
            $("body").iealert();
        });

        $(".www51buycom").hover(function () {
            $(this).find(".prev,.next.htm").fadeTo("show", 0.1);
        }, function () {
            $(this).find(".prev,.next.htm").hide();
        })
        /*鼠标移过某个按钮 高亮显示*/
        $(".prev,.next.htm").hover(function () {
            $(this).fadeTo("show", 0.7);
        }, function () {
            $(this).fadeTo("show", 0.1);
        })
        $(".www51buycom").slide({ titCell: ".num ul", mainCell: ".buypic", effect: "fold", autoPlay: true, delayTime: 700, autoPage: true });



        window.onload =function()
        {
           tabSwitch("home_tab01", "click");
        }

         /**
         * 事件处理通用函数
         */
        var EventUtil = {
            getEvent: function (event) {
                return event ? event : window.event;
            },
            getTarget: function (event) {
                return event.target || event.srcElement;
            },
            addHandler: function (element, type, handler) {
                if (element.addEventListener) {
                    element.addEventListener(type, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent("on" + type, handler);
                } else {
                    element["on" + type] = handler;
                }

            }
        };

        /**
        * 选项卡通用函数
        */
        // 传入参数inClassName设定为绑定的选项卡类名，参数triggerType设定为触发切换的类型
        function tabSwitch(inClassName, triggerType) {
            //取得全部选项卡区域
            if (document.querySelectorAll) {
                var tabs = document.querySelectorAll("." + inClassName);
            } else {
                var divs = document.getElementsByTagName("div");
                var tabs = new Array();
                for (var k = 0, lenDiv = divs.length; k < lenDiv; k++) {
                    if (divs[k].className.indexOf(inClassName) > -1) {
                        tabs.push(divs[k]);
                    }
                }
            }
            //为每个选项卡建立切换功能
            for (var j = 0, len = tabs.length; j < len; j++) {
                //获取标题和内容列表
                var tab = tabs[j];
                //使用私有作用域为每个选项卡建立切换
                (function () {
                    var nameUl = tab.getElementsByTagName("ul")[0];
                    var content = tab.getElementsByTagName("ul")[1];
                    //初始化选项卡
                    nameUl.getElementsByTagName("li")[0].className = "selected";
                    content.getElementsByTagName("li")[0].style.display = "block";
                    //添加事件委托
                    EventUtil.addHandler(nameUl, triggerType, function (event) {
                        //获取事件对象
                        event = EventUtil.getEvent(event);
                        var target = EventUtil.getTarget(event);
                        //选项卡切换
                        if (target.nodeName.toLowerCase() == "li") {
                            //分别取得标题列表项和内容列表项
                            var nameList = nameUl.getElementsByTagName("li");
                            var contentList = content.getElementsByTagName("li");
                            //标题添加selected类，并显示内容
                            for (var i = 0, len = nameList.length; i < len; i++) {
                                nameList[i].className = "";
                                contentList[i].style.display = "none";
                                if (nameList[i] == target) {
                                    nameList[i].className = "selected";
                                    contentList[i].style.display = "block";
                                }
                            }
                        }
                    });
                })();
            }
        }

        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 100) {
                    $("#side-bar .gotop").fadeIn();
                }
                else {
                    $("#side-bar .gotop").hide();
                }
            });
            $("#side-bar .gotop").click(function () {
                $('html,body').animate({ 'scrollTop': 0 }, 500);
            });
        });