.footer-t
    .footer-t-c
        ul
            h2 帮助·提示
            li
                a( title='如何注册', href='javascript:;') 如何注册
            li
                a( title='如何在线预订', href='javascript:;') 如何在线预订
            li
                a( title='旅游名词解释', href='javascript:;') 旅游名词解释
            li
                a( title='中国护照免签国家', href='javascript:;') 中国护照免签国家
        ul
            h2 报名签约
            li
                a( title='神舟门市查询', href='javascript:;') 神舟门市查询
            li
                a( title='邮件及传真签约', href='javascript:;') 邮件及传真签约
            li
                a( title='发票制度', href='javascript:;') 发票制度
            li
                a( title='合同范本', href='javascript:;') 合同范本
        ul
            h2 支付方式
            li
                a( title='门市支付', href='javascript:;') 门市支付
            li
                a( title='银行汇款', href='javascript:;') 银行汇款
            li
                a( title='网上汇款', href='javascript:;') 网上汇款
            li
                a( title='在线支付', href='javascript:;') 在线支付
        ul.last
            h2 旅游其他事项
            li
                a( title='签证', href='javascript:;') 签证
            li
                a( title='保险细则', href='javascript:;') 保险细则
            li
                a( title='订单变更及取消', href='javascript:;') 订单变更及取消
            li
                a( title='退团、退款方式', href='javascript:;') 退团、退款方式
        ul.r
            .tel 0771-3216270
            br
            | 工作时间：周一至周五09：00－18：00
.clearfix
.footer-c
    .tlink
        ul
            a(href='javascript:;') 关于我们
            | |
            a(href='javascript:;') 联系我们
            | |
            a(href='javascript:;') 旅行社行业资质
            | |
            a(href='javascript:;') 人才招聘
            | |
            a(href='javascript:;') 预订须知
            | |
            a(href='javascript:;') 免责证明
            | |
            a(href='javascript:;') 隐私声明
            | |
            a(href='javascript:;') 法律条款
            | |
            a(href='javascript:;') 文明旅游
    strong
        | © 火星人信息科技有限公司   桂ICP备15003644号-2

.clearfix
.footer-link
    .footer-link-c
        ul
            a(href='/') 火星人信息科技有限公司
            | |
            a(href="javascript:;" ) 火星人官网
            | |
            a(href="javascript:;" ) 火星人海外旅游
            | |
            a(href="javascript:;" ) 火星人旅游
            | |
            a(href="javascript:;" ) 火星人国际会展
